# Generic
~/.config/nvim/plugin/packer_compiled.lu
.cfg
.bash_history
.bash_logout

# Dot files
.npmrc
.gitconfig

# Dot folders
.cache
.cargo
.dropbox-dist
.dropbox
.fonts
.gnupg
.lesshst
.mozilla
.node_repl_history
.npm
.nvm
.oh-my-zsh
.pki
.profile
.psql_history
.rustup
.shell.pre-oh-my-zsh
.ssh
.sudo_as_admin_successfull
.tmux
.zcompdump*
.zsh_history
.zshenv
.zshrc.pre-oh-my-zsh

# Config folders
.config/.gsd-keyboard.settings-ported
.config/1Password
.config/BraveSoftware
.config/GNOME-xdg-terminals.list
.config/autostart
.config/chromium
.config/dconf
.config/evolution
.config/gnome-initial-setup-done
.config/google-chrome*
.config/gtk-3.0
.config/ibus
.config/microsoft-edge-dev
.config/op
.config/pulse
.config/systemd
.config/tiling-assistant
.config/ubuntu*
.config/update*
.config/user*
.config/vivaldi*
.config/xdg*
.config/yelp

# Folders
Downloads
Dropbox
Pictures
go
snap
src
